/* header section style */
.header-main-section{
    height: 550px;
    background-image: url(./../../img/bg\ \(11\).jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.business-info-section{
    min-height: 400px;
    background-image: url(./../../img/bg\ \(13\).jpg);
}
.business-info-section::before{
    height:500px;
    content:' ';
    position: absolute;
    top: 500;
    width: 30%;
    right: 0;
    z-index: -1;
    background-color: #fff;
}

.header-img img{
    border-radius: 5px;
}
.nav-header{
    color: #fff;
}
.nav-header:hover{
    color: red;
}


/* all button style  & global*/
.button-white{
    border: 1px solid #000 !important;
    font-weight: 600 !important;
}
.button{
    border: 1px solid #fff !important;
    font-weight: 600 !important;
}
.button:hover, .button-white:hover{
    color: tomato !important;
    border: 1px solid red !important;
}
.sub-header{
    color: rgb(211, 0, 0);
}


/* services section style */
.service-image img{
    border-radius: 5px;
}


/* our solution section style */
.our-solution-section{
    background-image: url(./../../img/repair\ \(5\).jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.fixing-image img{
    border-radius: 5px;
}



/* testimonial section style */

.testimonial-section{
    background-image: url(./../../img/bg\ \(13\).jpg);
}


/* contact us section style */
/* .contact-section{
    background-image: url(./../../img/bg\ \(16\).jpg);
} */


/* all card transition  style*/
.card-transform{
    transition: all .8s;
}
.card-transform:hover{
    transform: scale(1.1);
}

