body {
  margin: 0;
  line-height: 1.7;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", monospace;
}
 body,
  html {
    background-color: #f6f9fc;
    line-height: 1.7;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-family: "Source Code Pro", monospace;
    margin: 0;
  }
  